<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Association Soleil Ka</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>

        <header class="header">
            <a href="accueil.html" class="header-logo"> 
                <img src="../static/img/logo-SK.png" alt="Logo de Soleil Ka">
                <h3>Soleil Ka</h3> 
            </a>
            
            <nav class="header-nav">
                <a href="accueil.html">Accueil</a>
                <a href="histoire.html">Histoire culturelle</a>
                <a href="adhesion.html">Rejoignez-nous</a>
            </nav>
            
            <a href="contact.html" class="btn btn-accent">♥ Don</a>
        </header>
    </body>